.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.InputCollection {
  margin: auto;
  width: 500px;
}

.TitleInput {
  width:95%;
  margin-top:10px;
}

.URLInput {
  width:80%;
}

.SubmitButton {
  width:15%;
}

.Card {
  background-color: white;
  margin: auto;
  width: 490px;
  border-radius: 5px;
}

.Img {
  max-width: 95%;
  max-height: 100%;
}
